.Container {
    width: 100%;
    height: 100vh;
    border: 1px solid red;
}

.wrap {
    width: 100%;
    height: 400px;
    border: green solid 2px ;
    display: flex;
    justify-content: center;
}

.Harakatlar {
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 3px dotted yellow;
}
.Harakatlar h1 {
    height: 50px;
}

.Harakatlar p {
    width:100%;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.Gridlar {
    display:flex;
    grid-template-columns:1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    gap:40px;
}

.Gridlar div  {
    width: 300px;
    display: flex;
    height: 200px;
    line-height: 20px;
    text-transform:uppercase;
    align-items: center;
    border: 2px solid red;
    text-align: center;
}
.KattaGrid{
    width: 100%;
    display: flex;
    justify-content: center;
}
